name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install and Build
        # We manually change directory (cd) for every command to be safe
        run: |
          cd client && npm install
          cd client && npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # This points to the final build folder
          path: client/dist

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
